<% include ../partials/header %>

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">BookSite</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive showpage-image" src="<%= book.image %>"></img>
                <div class="caption-full">
                    <h4 class="pull-right"></h4>
                    <h4><%= book.name %></h4>
                    <h5>by <%= book.author %></h5>
                    <hr class="style-one">
                    <p><%= book.description %></p>
                    <p>
                        <em>Submitted by <%= book.postedBy.username %></em>
                    </p>
                    <% if(currentUser && book.postedBy.id.equals(currentUser._id)) { %>
                    <a class="btn btn-warning" href="/books/<%= book._id %>/edit">Edit</a>
                    <form id="deleteform" action="/books/<%= book._id %>?_method=DELETE" method="POST">
                        <button class="btn btn-danger">Delete</button>
                    </form>
                    <% } %>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                        <a class="btn btn-info" href="/books/<%= book._id %>/comments/new">Add New Comment</a>
                </div>
                <% book.comments.forEach(function(comment){ %>
                <hr>
                <div class="row">
                    <div class="col-md-12">
                        <strong><%= comment.author.username %></strong>
                        <span class="pull-right">7 days ago</span>
                        <p>
                            <%= comment.text %>
                        </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id)){ %>
                            <a class="btn btn-xs btn-warning" href="/books/<%= book._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <form id="deleteform" action="/books/<%= book._id %>/comments/<%= comment._id %>?_method=DELETE" method="post">
                                <input class="btn btn-xs btn-danger" value="Delete" type="submit">
                            </form>
                        <% }; %>
                    </div>
                </div>
                
                <% }); %>
            </div>
        </div>
    </div>
</div>




<% include ../partials/footer %>